@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

$hotpink: #FF33BB;
$blue: #00BBEE;
$green: #00DD77;
$orange: #FF7700;
$offwhite: #FDFDFD;
$dark: #2D2D2D;

$family-sans-serif: "Roboto", sans-serif;
$primary: $green;
$warning: $orange;
$danger: $hotpink;

$body-background-color: $offwhite;
$control-border-width: 2px;

// Bulma Import
@import '~bulma';
