@charset 'utf-8';

@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

$family-sans-serif: "Roboto", sans-serif;

$control-border-width: 2px;

body {
  background-color: #2d2d2d;
}

.box,
.button,
.card,
.label,
.navbar,
.navbar-burger,
.navbar-menu,
.table,
.table thead th,
.tags,
.tag {
  background-color: #3d3d3d;
  color: #fdfdfd;
}

.title,
.text,
.subtitle,
.navbar-item,
.copyright,
.subtitle strong,
strong {
  color: #fdfdfd;
}
