[Unit]
Description={{ service_description }}
After=network.target

[Service]
ExecStart=/usr/bin/node {{ service_file }}
WorkingDirectory={{ appDir }}
StandardOutput=inherit
StandardError=inherit
Restart=always
User={{ service_user }}
Environment=DATABASE_URL={{ dburl | default("") }}
Environment=NODE_ENV={{ node_env | default("") }}
Environment=WS_URL={{ ws_url | default("") }}
Environment=PORT={{ client_port | default("") }}

[Install]
WantedBy=multi-user.target
