[all:vars]
ansible_connection=ssh
ansible_user=<add_ssh_user>
ansible_ssh_pass=<add_ssh_password>
ansible_python_interpreter=/usr/bin/python3
herbert_version=<version_of_herbert_to_deploy>

[databases]
<add_db_ip_addresses>

[databases:vars]
dbname=<add_db_name>
dbpass=<add_db_password>
dbuser=<add_db_user>
db_allowed_cidr=<add_allowed_cidr>

[servers]
<add_server_ip_addresses>

[servers:vars]
dburl=postgresql://<dbuser>:<dbpass>@<db_ip>:5432/<dbname>

[clients]
<add_client_ip_addresses>

[clients:vars]
api_host=<server_api_host>
api_port=<server_api_port>

[workers]
<worker_1_ip_address> config_path=<path_to_worker_1_config.json> config_name=<worker1_config_filename>
<worker_2_ip_address> config_path=<path_to_worker_2_config.json> config_name=<worker2_config_filename>
<worker_3_ip_address> config_path=<path_to_worker_3_config.json> config_name=<worker3_config_filename>
